<h1 class="mt-4">Genres</h1>
<div class="container-fluid d-flex justify-content-end mb-3">
  <%= link_to 'New Genre', new_genre_path, class: "btn btn-primary" %>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-lg list-group-flush list my-n4">
            <% @genres.each do |genre| %>
              <li class="list-group-item">
                <div class="row align-items-center">
                  <div class="col col-2">
                    <% if genre.image.present? %>
                      <%= link_to edit_genre_path(genre) do %>
                        <%= image_tag genre.image, alt: "image", size: "160x120" %>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="col">
                    <h4 class="mb-1 name">
                      <a href="#!"><%= genre.title %></a>
                    </h4>
                    <p class="card-text small text-body-secondary">
                      <%= genre.description %>
                    </p>

                  </div>
                  <div class="col-auto">
                    <%= link_to 'Show', genre_path(genre), class: "btn btn-sm btn-primary d-none d-md-inline-block" %>
                    <%= link_to 'Destroy', genre, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-primary d-none d-md-inline-block" %>
                  </div>
                </div> 
              </li>
            <% end %>
          </ul>

        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <%= paginate @genres, theme: 'twitter-bootstrap-3' %>
  </div>
</div>
