<div data-bs-theme="dark">
  <div class="header pb-5">
    <div class="container-fluid">

      <!-- Body -->
      <div class="header-body">
        <div class="row align-items-end">
          <div class="col">

            <!-- Pretitle -->
            <h6 class="header-pretitle">
              Annual
            </h6>

            <!-- Title -->
            <h1 class="header-title">
              Status
            </h1>

          </div>
          <div class="col-auto">

            <!-- Nav -->
            <ul class="nav nav-tabs header-tabs">
              <li class="nav-item" data-toggle="chartline" data-target="#audienceChart" data-trigger="click" data-action="toggle" data-dataset="0">
                <a href="#" class="nav-link text-center active text-white" data-bs-toggle="tab">
                  <h6 class="header-pretitle">
                    View
                  </h6>
                </a>
              </li>
              <li class="nav-item" data-toggle="chartline" data-target="#audienceChart" data-trigger="click" data-action="toggle" data-dataset="1">
                <a href="#" class="nav-link text-center  text-white" data-bs-toggle="tab">
                  <h6 class="header-pretitle">
                    Interactions
                  </h6>
                </a>
              </li>
            </ul>

          </div>
        </div><!-- / .row -->
      </div> <!-- / .header-body -->

      <!-- Footer -->
      <div class="header-footer">

        <!-- Chart -->
        <div class="chart">
          <canvas id="audienceChart" class="chart-canvas"></canvas>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="container-fluid mt-n6">
  <div class="row">
    <div class="col-12 col-xl-8">

      <!-- Orders -->
      <div class="card">
        <div class="card-header">

          <!-- Title -->
          <h4 class="card-header-title">
            Payments
          </h4>

          <!-- Caption -->
          <span class="text-body-secondary me-3">
            Show Previous Year  :
          </span>

          <!-- Switch -->
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="cardToggle" data-toggle="chart" data-target="#ordersChart" data-trigger="change" data-action="add" data-dataset="1">
            <label class="form-check-label" for="cardToggle"></label>
          </div>

        </div>
        <div class="card-body">

          <!-- Chart -->
          <div class="chart">
            <canvas id="ordersChart" class="chart-canvas"></canvas>
          </div>

        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4">

      <!-- Traffic -->
      <div class="card">
        <div class="card-header">

          <!-- Title -->
          <h4 class="card-header-title">
            Clients
          </h4>

        </div>
        <div class="card-body">

          <div class="chart chart-appended">
            <canvas id="trafficChart" class="chart-canvas" data-toggle="legend" data-target="#trafficChartLegend"></canvas>
          </div>

          <div id="trafficChartLegend" class="chart-legend"></div>

        </div>
      </div>

    </div>
  </div>

  <div class="row">
  <div class="col-12 col-lg-6 col-xl">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center gx-0">
          <div class="col">
            <h6 class="text-uppercase text-body-secondary mb-2">
              Total Payments
            </h6>
            <span class="h2 mb-0">
              <%= @total_payment %>
            </span>
          </div>
          <div class="col-auto">
            <span class="h2 fe fe-dollar-sign text-body-secondary mb-0"></span>
          </div>
        </div> 
      </div>
    </div>

  </div>
  <div class="col-12 col-lg-6 col-xl">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center gx-0">
          <div class="col">
            <h6 class="text-uppercase text-body-secondary mb-2">
              Total clients
            </h6>
            <span class="h2 mb-0">
              <%= @total_user %>
            </span>

          </div>
          <div class="col-auto">
            <span class="h2 fe fe-briefcase text-body-secondary mb-0"></span>
          </div>
        </div> 
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 col-xl">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center gx-0">
          <div class="col">
            <h6 class="text-uppercase text-body-secondary mb-2">
              Total songs
            </h6>
            <span class="h2 mb-0">
              <%= @total_song %>
            </span>
          </div>
          <div class="col-auto">
            <div class="chart chart-sparkline">
              <canvas class="chart-canvas" id="sparklineChart"></canvas>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 col-xl">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center gx-0">
          <div class="col">
            <h6 class="text-uppercase text-body-secondary mb-2">
                total interactions
              </h6>
            <span class="h2 mb-0">
              <%= @total_interactions %>
            </span>
          </div>
          <div class="col-auto">
            <span class="h2 fe fe-clock text-body-secondary mb-0"></span>
          </div>
        </div> 
      </div>
    </div>
  </div>
  </div> 

  <div class="row">
  <div class="col-12 col-xl-6">

    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">

            <h4 class="card-header-title">
              Top 5 positive 
            </h4>

          </div>
        </div> 
      </div>
      <div class="table-responsive mb-0" data-list="{&quot;valueNames&quot;: [&quot;goal-project&quot;, &quot;goal-status&quot;, &quot;goal-progress&quot;, &quot;goal-date&quot;]}">
        <table class="table table-sm table-nowrap card-table">
          <thead>
            <tr>
              <th>
                <a href="#" class="text-body-secondary list-sort" data-sort="goal-status">
                  Title
                </a>
              </th>
              <th>
                <a href="#" class="text-body-secondary list-sort" data-sort="goal-progress">
                  Comment positive
                </a>
              </th>
              <th>
                <a href="#" class="text-body-secondary list-sort" data-sort="goal-date">
                  Total comment
                </a>
              </th>
              <th>
                <a href="#" class="text-body-secondary list-sort" data-sort="goal-date">
                  Ratio
                </a>
              </th>
            </tr>
          </thead>
          <tbody class="list">
            <% @top_songs.each do |song| %>
              <tr>
                <td class="goal-status">
                  <%= song.title %>
                </td>
                <td class="goal-progress text-center">
                  <%= song.comments.where(status: true).size %>
                </td>
                <td class="goal-date text-center">
                  <%= song.comments.size %>
                </td>
                <td class="goal-date text-center">
                  <%= ((song.comments.where(status: true).size.to_f / song.comments.size) * 100).round %>%
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <div class="col-12 col-xl-6">

    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">

            <h4 class="card-header-title">
              Top 5 negative 
            </h4>

          </div>
        </div> 
      </div>
      <div class="table-responsive mb-0" data-list="{&quot;valueNames&quot;: [&quot;goal-project&quot;, &quot;goal-status&quot;, &quot;goal-progress&quot;, &quot;goal-date&quot;]}">
        <table class="table table-sm table-nowrap card-table">
          <thead>
            <tr>
              <th>
                <a href="#" class="text-body-secondary list-sort" data-sort="goal-status">
                  Title
                </a>
              </th>
              <th>
                <a href="#" class="text-body-secondary list-sort" data-sort="goal-progress">
                  Comment negative
                </a>
              </th>
              <th>
                <a href="#" class="text-body-secondary list-sort" data-sort="goal-date">
                  Total comment
                </a>
              </th>
              <th>
                <a href="#" class="text-body-secondary list-sort" data-sort="goal-date">
                  Ratio
                </a>
              </th>
            </tr>
          </thead>
          <tbody class="list">
            <% @bottom_songs.each do |song| %>
              <tr>
                <td class="goal-status">
                  <%= song.title %>
                </td>
                <td class="goal-progress text-center">
                  <%= song.comments.where(status: false).size %>
                </td>
                <td class="goal-date text-center">
                  <%= song.comments.size %>
                </td>
                <td class="goal-date text-center">
                  <%= ((song.comments.where(status: false).size.to_f / song.comments.size) * 100).round %>%
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  
  </div>

  <div class="row">
  <div class="col-12">

    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">

            <h4 class="card-header-title">
              Top 10 Views
            </h4>

          </div>
        </div> 
      </div>
      <div class="table-responsive mb-0" data-list="{&quot;valueNames&quot;: [&quot;goal-project&quot;, &quot;goal-status&quot;, &quot;goal-progress&quot;, &quot;goal-date&quot;]}">
        <table class="table table-sm table-nowrap card-table">
          <thead>
            <tr>
              <th>
                <a href="#" class="text-body-secondary list-sort" data-sort="goal-project">
                  Logo
                </a>
              </th>
              <th>
                <a href="#" class="text-body-secondary list-sort" data-sort="goal-status">
                  Title
                </a>
              </th>
              <th>
                <a href="#" class="text-body-secondary list-sort" data-sort="goal-progress">
                  Singer
                </a>
              </th>
              <th>
                <a href="#" class="text-body-secondary list-sort" data-sort="goal-date">
                  Genres
                </a>
              </th>
              <th>
                <a href="#" class="text-body-secondary list-sort" data-sort="goal-date">
                  Views
                </a>
              </th>
               <th>
                <a href="#" class="text-body-secondary list-sort" data-sort="goal-date">
                  CREATE DATE
                </a>
              </th>
            </tr>
          </thead>
          <tbody class="list">
            <% @songs.each do |song| %>
              <tr>
                <td class="goal-project">
                  <% if song.image.present? %>
                    <%= image_tag song.image, alt: "image",  size: "50x50", class: 'rounded-circle' %>
                  <% end %>
                </td>
                <td class="goal-status">
                  <%= song.title %>
                </td>
                <td class="goal-progress">
                  <% song.artists.singer.each_with_index do |artist, index| %>
                    <%= artist.name %>
                    <%= ", " unless index == song.artists.size - 1 %>
                  <% end %>
                </td>
                <td class="goal-date">
                  <%= song.genre&.title %>
                </td>
                <td class="goal-date">
                  <%= song.views %>
                </td>
                <td class="goal-date">
                  <%= song.created_at&.strftime("%d/%m/%Y") %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  </div> 
</div>
