<h1>Artists</h1>
<div class="container-fluid d-flex justify-content-end mb-3">
  <%= link_to 'New Artist', new_artist_path, class: "btn btn-primary" %>
</div>
<div class="container-fluid">
  <div class="tab-content">
    <div class="tab-pane fade active show" id="tabPaneOne" role="tabpanel">
      <div class="row listAlias">
        <% @artists.each do |artist| %>
          <div class="col-12 col-md-6 col-xl-4">

            <div class="card">

              <% if artist.avatar.present? %>
                <%= link_to artist_path(artist) do %>
                  <%= image_tag artist.avatar, alt: "Project Avatar", class: "card-img-top" %>
                <% end %>
              <% else %>
              <% end %>

              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">

                    <!--  -->
                    <h4 class="mb-2 name">                    
                      <%= link_to "#{artist.name}", artist_path(artist) %>
                    </h4>

                    <p class="card-text small text-body-secondary">
                      <%= artist.description %>
                    </p>

                  </div>
                 
                </div> 
              </div>

            </div>

          </div>
        <% end %>
      </div> 
    </div>
  </div>
</div>
