<h1 class="mt-4">Artists</h1>
<div class="container-fluid d-flex justify-content-end mb-3">
  <%= link_to 'New artist', new_artist_path, class: "btn btn-primary" %>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-lg list-group-flush list my-n4">
            <% @artists.each do |artist| %>
              <li class="list-group-item">
                <div class="row align-items-center">
                  <div class="col ms-n2">
                    <h4 class="mb-1 name">
                      <%= link_to artist.name, artist_path(artist) %>
                    </h4>
                    <p class="card-text small text-body-secondary">
                      <%= artist.description %>
                    </p>

                  </div>
                  <div class="col-auto">
                    <%= link_to 'Show', artist_path(artist), class: "btn btn-sm btn-primary d-none d-md-inline-block" %>
                    <%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-primary d-none d-md-inline-block" %>
                  </div>
                </div> 
              </li>
            <% end %>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
