<div class="row justify-content-center">
  <%= form_with(model: singer) do |form| %>
    <% if singer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(singer.errors.count, "error") %> prohibited this singer from being saved:</h2>

        <ul>
          <% singer.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col-12 col-md-6">

        <div class="form-group">
          <%= form.label :name, class: "form-label" %>
          <%= form.text_field :title, class: "form-control", required: true %>
        </div>

      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <%= form.label :birthdate, "Birth day", class: "form-label" %>
          <%= form.date_field :birthdate, class: "form-control", required: true %>
        </div>
      </div>

      <div class="col-12">

        <div class="form-group">
          <%= form.label :description, class: "form-label" %>
          <%= form.text_field :description, class: "form-control", required: true %>
        </div>

      </div>

      <div class="col-12 col-md-6">
        <div class="form-group">
          <%= form.label :avatar, "Avatar", class: "form-label" %>
          <%= form.file_field :avatar, class: "form-control", required: true %>
        </div>
      </div>
    
    </div>
    <div class="actions mb-3">
      <%= form.submit %>
    </div>
  <% end %>
</div>

