<div class="row justify-content-center">
  <%= form_with(model: song) do |form| %>
    <% if song.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

        <ul>
          <% song.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col-12 col-md-6">

        <div class="form-group">
          <%= form.label :title, class: "form-label" %>
          <%= form.text_field :title, class: "form-control", required: true %>
        </div>

      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <%= form.label :release_date, class: "form-label" %>
          <%= form.date_field :release_date, class: "form-control", required: true %>
        </div>
      </div>

      <div class="col-12">

        <div class="form-group">
          <%= form.label :lyric, class: "form-label" %>
          <%= form.text_area :lyric, class: "form-control", required: true %>
        </div>

      </div>

      <div class="col-12 col-md-6">
        <div class="form-group">
          <%= form.label :mp3_file, "Audio", class: "form-label" %>
          <%= form.file_field :mp3_file, class: "form-control", accept: "audio/mpeg", required: (true if action_name == 'new') %>
        </div>
      </div> 

      <% if params[:genre_id].present? %>
        <%= form.hidden_field :genre_id, value: params[:genre_id] %>
      <% else %>
        <div class="col-12 col-md-6">
          <div class="form-group">
            <%= form.label :genre_id, "Genre", class: "form-label" %>
            <%= form.select :genre_id, options_for_select(Genre.all.map { |genre| [genre.title, genre.id] }, song.genre_id ), { include_blank: "Select Genre" }, class: "form-control", required: true %>
          </div>
        </div>
      <% end %>

      <div class="col-12 col-md-6">
        <div class="form-group">
          <%= form.label :logo, "Logo", class: "form-label" %>
          <%= form.file_field :logo, class: "form-control" %>
        </div>
      </div>
      <div class="d-flex mt-5">
        <div class="col-12 col-md-6">
          <input type="text" id="search_singers" class="" placeholder="Search by Singer Name">
        </div>
        <div class="col-12 col-md-6">
          <input type="text" id="search_authors" class="" placeholder="Search by Author Name">
        </div>
      </div>
      <div class="d-flex">
        <div class="col-12 col-md-6 bg-white">
          <div class="form-group">
            <%= form.label :singers, class: "my-3" %>
            <div class="checkbox-container">
              <% Artist.singer.each do |singer| %>
                <div class="checkbox-singer-group mt-2" data-singer-name="<%= singer.name.downcase %>">
                  <% if singer.avatar.present? %>
                    <%= image_tag singer.avatar, alt: "Project Avatar", class: "rounded-circle mx-3", size: "80x80" %>
                  <% else %>
                    <%= image_tag('/profile_default.svg', alt: "Author Avatar", class: "rounded-circle mx-3", size: "80x80") %>
                  <% end %>
                  <%= form.check_box :artist_ids, { multiple: true }, singer.id, nil %>
                  <%= form.label "artist_ids_#{singer.id}", singer.name %>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 bg-white">
          <div class="form-group">
            <%= form.label :authors, class: "my-3" %>
            <div class="checkbox-container">
              <% Artist.author.each do |author| %>
                <div class="checkbox-author-group mt-2" data-author-name="<%= author.name.downcase %>">
                  <% if author.avatar.present? %>
                    <%= image_tag author.avatar, alt: "Author Avatar", class: "rounded-circle mx-3", size: "80x80" %>
                  <% else %>
                    <%= image_tag('/profile_default.svg', alt: "Author Avatar", class: "rounded-circle mx-3", size: "80x80") %>
                  <% end %>
                  <%= form.check_box :artist_ids, { multiple: true }, author.id, nil %>
                  <%= form.label "artist_ids_#{author.id}", author.name %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="actions mb-3">
      <%= form.submit %>
    </div>
  <% end %>
</div>

<style type="text/css">
  .checkbox-container {
    max-height: 350px; 
    overflow-y: auto; 
  }
</style>
