<div class="row justify-content-center">
  <%= form_with(model: album) do |form| %>
    <% if album.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

        <ul>
          <% album.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col-12 col-md-6">

        <div class="form-group">
          <%= form.label :title, class: "form-label" %>
          <%= form.text_field :title, class: "form-control", required: true %>
        </div>

      </div>

      <div class="col-12">

        <div class="form-group">
          <%= form.label :description, class: "form-label" %>
          <%= form.text_field :description, class: "form-control", required: true %>
        </div>

      </div>

      <div class="col-12 col-md-6">
        <div class="form-group">
          <%= form.label :logo, "Logo", class: "form-label" %>
          <%= form.file_field :logo, class: "form-control" %>
        </div>
      </div>

      <% if params[:genre_id].present? %>
        <%= form.hidden_field :genre_id, value: params[:genre_id] %>
      <% else %>
        <div class="col-12 col-md-6">
          <div class="form-group">
            <%= form.label :genre_id, "Genre", class: "form-label" %>
            <%= form.select :genre_id, options_for_select(Genre.all.map { |genre| [genre.title, genre.id] }, album.genre_id ), { include_blank: "Select Genre" }, class: "form-control", required: true %>
          </div>
        </div>
      <% end %>

      <% if params[:artist_id].present? %>
        <%= form.hidden_field :artist_id, value: params[:artist_id] %>
      <% else %>
        <div class="col-12 col-md-6">
          <div class="form-group">
            <%= form.label :artist_id, "Genre", class: "form-label" %>
            <%= form.select :artist_id, options_for_select(Artist.all.map { |artist| [artist.name, artist.id] }, album.artist_id ), { include_blank: "Select Artist" }, class: "form-control", required: true %>
          </div>
        </div>
      <% end %>
    
    </div>
    <div class="actions mb-3">
      <%= form.submit %>
    </div>
  <% end %>
</div>
