<div class="container-fluid"> <h1 class="mt-4">Albums</h1> </div>
<div class="container-fluid d-flex justify-content-end mb-3">
  <%= link_to 'New album', new_album_path, class: "btn btn-primary" %>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-lg list-group-flush list my-n4">
            <% @albums.each do |album| %>
              <li class="list-group-item">
                <div class="row align-items-center">
                  <div class="col col-2">
                    <% if album.image.present? %>
                      <%= link_to edit_album_path(album) do %>
                        <%= image_tag album.image, alt: "image", size: "160x120" %>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="col">
                    <h4 class="mb-1 name">
                      <%= link_to album.title, album_path(album) %>
                    </h4>
                    <p class="card-text small text-body-secondary">
                      <%= album.description %>
                    </p>

                  </div>
                  <div class="col-auto">
                    <%= link_to 'Show', album_path(album), class: "btn btn-sm btn-primary d-none d-md-inline-block" %>
                    <%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-primary d-none d-md-inline-block" %>
                  </div>
                </div> 
              </li>
            <% end %>
          </ul>

        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <%= paginate @albums, theme: 'twitter-bootstrap-3' %>
  </div>
</div>
