<h1>Albums</h1>
<div class="container-fluid d-flex justify-content-end mb-3">
  <%= link_to 'New Album', new_album_path, class: "btn btn-primary" %>
</div>
<div class="container-fluid">
  <div class="tab-content">
    <div class="tab-pane fade active show" id="tabPaneOne" role="tabpanel">
      <div class="row listAlias">
        <% @albums.each do |album| %>
          <div class="col-12 col-md-6 col-xl-4">

            <div class="card">

              <% if album.image.present? %>
                <%= link_to album_path(album) do %>
                  <%= image_tag album.image, alt: "image", class: "card-img-top", size: "485x325" %>
                <% end %>
              <% else %>
              <% end %>

              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">

                    <!--  -->
                    <h4 class="mb-2 name">                    
                      <%= link_to "#{album.title}", album_path(album) %>
                    </h4>

                    <p class="card-text small text-body-secondary">
                      <%= album.description %>
                    </p>

                  </div>
                 
                </div> 
              </div>

            </div>

          </div>
        <% end %>
      </div> 
    </div>
  </div>
</div>
